nav {
    z-index: 1;
    list-style: none;
    padding: 0px;
    border-bottom: 1px solid #fafbfc;
    position: fixed; 
    margin: 0;
    top: 0; 
    right: 0; 
    left: 0;
    display: flex;
    align-items: center;
    padding: 0;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: #242424;
}

nav input {
    padding: 10px;
    width: 200px;
    margin-left: 1rem;
    border-radius: 25px;
    border: 1px solid grey;
}

nav h2 {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    margin-left: 4rem;
    margin-right: 1rem;
    align-items: center;
    justify-content: center;
}

.title {
    display: flex;
    margin: 0;
    padding: 0;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 5px;
}

nav ul {
    display: flex;
    margin: 0;
    margin-right: 4rem;
    padding: 0;
    justify-content: flex-end;
    align-items: center;     
}

nav ul li {
    display: inline-block;
    margin: 0px 1rem;
    color: #fafbfc;
}

nav ul li a {
    transition: all 0.3s ease 0s;
}

nav ul li a:hover {
    transition: all 0.3s ease 0s;
    color:white;
}

.searchSection {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.searchBtn {
    background-color: white;
    margin-left: 0.5rem;
    padding: 0;
    padding-left: 10px;
    padding-right: 10px;
}

.search {
    width: 20px;
    margin-top: 3px;
}

@media only screen and (max-width: 840px) {
    nav {
        font-size: small;
        justify-content: center;
        padding-bottom: 10px;
    }

    nav input {
        width: 100px;
    }

    nav h2 {
        margin:0;
    }

    nav ul li {
        margin: 0px 0.5rem;
    }

    nav ul {
        margin-right: 0;
    }

    nav h4 {
        margin-left: 0;
    }

}