.center {
    flex-direction: column;
    margin-top: 100px;
    width: 100%;
}

.comments {
    width: 100%;
    margin: 0;
    padding: 0;
    align-self: flex-start;
}

.regularButtons {
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
    align-items: center;
}

.upvotes {
    display: flex;
    background-color: #1a1a1a;
    border-radius: 25px;
    font-size: x-large;
    margin: 1rem 0;
}

.delete {
    margin: 1em 0;
}

.regularButtons button {
    border-radius: 25px;
    margin-left: 2rem;
}

.upvotes button {
    margin: 0;
    padding: 0;
}

.upvote:hover {
    transition: all 0.2s;
    background-color: #2dba4e;
}

.downvote:hover {
    transition: all 0.2s;
    background-color: #f0440a;
}

.upvotes button {
    padding: 0 10px;
}

.upvotes button:hover {
    border-color: transparent;
}

.upvotes p {
    margin: 0 5px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.manage {
    display: flex;
}

.manage button {
    margin-left: 0.5rem;
}

img {
    display: flex;
    width: 35vw;
    height: auto;
}

.comments h4 {
    margin: 0;
}

.edit {
    display: flex;
    flex-direction: column;
}

.edit textarea {
    padding: 10px;
    border-radius: 25px;
    margin-bottom: 10px;
}

textarea {
    resize: vertical;
}

@media only screen and (max-width: 900px) {
    img {
        width: 100%;
    }
}

@media only screen and (max-width: 850px) {
    .regularButtons {
        align-items: center;
        justify-content: center;
    }
}